tr.odd-row {
  background-color: white;
}

tr.even-row {
  background-color: lightblue;
}

tr.header {
  background-color: black;
  color: white;
  font-style: italic;
}

tr.header th {
  padding: 5px;
}
